name: Build Linux Image Template
on:
  workflow_call:
    inputs:
      name:
        type: string
        required: true
        description: "Name of main tag and workflow file."
      tags:
        type: string
        required: false
        description: "Extra tags to use besides main tag."

env:
  DKR_ORG: steamcmd
  GH_ORG: steamcmd

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/amd64

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Install GOSS
        uses: e1himself/goss-installation-action@v1
        with:
          version: "v0.4.9"

      - name: Log into Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_ACCESS_TOKEN }}
          registry: docker.io

      - name: Log into Github Container Registry
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.GHCRIO_USERNAME }}
          password: ${{ secrets.GHCRIO_ACCESS_TOKEN }}
          registry: ghcr.io

      - name: Build the docker image
        uses: docker/build-push-action@v6
        with:
          context: ./dockerfiles/${{ inputs.name }}
          file: ./dockerfiles/${{ inputs.name }}/Dockerfile
          platforms: linux/amd64
          load: true
          push: false
          tags: steamcmd:${{ inputs.name }}

      - name: Run static test on Docker image
        run: dgoss run steamcmd:${{ inputs.name }} --entrypoint=""

      # master
      - name: Tag image
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: >
          for TAG in ${{ inputs.tags }} ${{ inputs.name }};
          do
            docker tag steamcmd:${{ inputs.name }} docker.io/${{ env.DKR_ORG }}/steamcmd:${TAG};
            docker tag steamcmd:${{ inputs.name }} ghcr.io/${{ env.GH_ORG }}/steamcmd:${TAG};
          done

      - name: Push image
        if: github.event_name == 'push' && github.ref == 'refs/heads/master'
        run: |
          docker push docker.io/${{ env.DKR_ORG }}/steamcmd --all-tags
          docker push ghcr.io/${{ env.GH_ORG }}/steamcmd --all-tags
