name: Build Images
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 5 * * *'

jobs:
  ## linux / ubuntu
  ubuntu-22:
    uses: ./.github/workflows/_build-linux.yml
    secrets: inherit
    with:
      name: ubuntu-22
      tags: ubuntu-jammy ubuntu latest
  ubuntu-20:
    uses: ./.github/workflows/_build-linux.yml
    secrets: inherit
    with:
      name: ubuntu-20
      tags: ubuntu-focal
  ubuntu-18:
    uses: ./.github/workflows/_build-linux.yml
    secrets: inherit
    with:
      name: ubuntu-18
      tags: ubuntu-bionic
  ubuntu-16:
    uses: ./.github/workflows/_build-linux.yml
    secrets: inherit
    with:
      name: ubuntu-16
      tags: ubuntu-xenial

  ## linux / debian
  debian-12:
    uses: ./.github/workflows/_build-linux.yml
    secrets: inherit
    with:
      name: debian-12
      tags: debian-bookworm debian
  debian-11:
    uses: ./.github/workflows/_build-linux.yml
    secrets: inherit
    with:
      name: debian-11
      tags: debian-bullseye
  debian-10:
    uses: ./.github/workflows/_build-linux.yml
    secrets: inherit
    with:
      name: debian-10
      tags: debian-buster

  ## linux / alpine
  alpine-3:
    uses: ./.github/workflows/_build-linux.yml
    needs: ubuntu-22
    secrets: inherit
    with:
      name: alpine-3
      tags: alpine

  ## linux / rocky
  rocky-9:
    uses: ./.github/workflows/_build-linux.yml
    needs: ubuntu-22
    secrets: inherit
    with:
      name: rocky-9
      tags: rocky
  rocky-8:
    uses: ./.github/workflows/_build-linux.yml
    needs: ubuntu-22
    secrets: inherit
    with:
      name: rocky-8

  ## linux / centos
  centos-9:
    uses: ./.github/workflows/_build-linux.yml
    needs: ubuntu-22
    secrets: inherit
    with:
      name: centos-9
      tags: centos
  centos-8:
    uses: ./.github/workflows/_build-linux.yml
    needs: ubuntu-22
    secrets: inherit
    with:
      name: centos-8

  ## windows / default
  windows-1809:
    uses: ./.github/workflows/_build-windows.yml
    secrets: inherit
    with:
      name: windows-1809
      tags: windows

  ## windows / core
  windows-core-2019:
    uses: ./.github/workflows/_build-windows.yml
    secrets: inherit
    with:
      name: windows-core-2019
      tags: windows-core
  windows-core-1809:
    uses: ./.github/workflows/_build-windows.yml
    secrets: inherit
    with:
      name: windows-core-1809
