name: Build Images
on:
  push:
    branches:
      - master
  schedule:
    - cron: "0 5 * * *"

jobs:
  build-linux:
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: ubuntu-24
            tags: "ubuntu-noble ubuntu latest"
          - name: ubuntu-22
            tags: "ubuntu-jammy"
          - name: ubuntu-20
            tags: "ubuntu-focal"
          - name: debian-13
            tags: "debian-trixie debian"
          - name: debian-12
            tags: "debian-bookworm"
          - name: debian-11
            tags: "debian-bullseye"
          - name: alpine-3
            tags: "alpine"
          - name: rocky-9
            tags: "rocky"
          - name: rocky-8
          - name: centos-10
            tags: "centos"
          - name: centos-9
          - name: cachyos
          - name: cachyos-3
    uses: ./.github/workflows/_build-linux.yml
    secrets: inherit
    with:
      name: ${{ matrix.name }}
      tags: ${{ matrix.tags }}
