name: Build Images
on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 */4 * * *'

jobs:
  build-ubuntu-18:
    runs-on: ubuntu-18.04
    env:
      IMAGE_TAG: "ubuntu-18"
    steps:
      - uses: actions/checkout@v2
      - uses: e1himself/goss-installation-action@v1
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -t steamcmd/steamcmd:$IMAGE_TAG .
        working-directory: dockerfiles/${{ env.IMAGE_TAG }}
      - name: Test Image
        run: dgoss run --entrypoint="" steamcmd/steamcmd:$IMAGE_TAG sleep 120
      - name: Tag Image
        run: for TAG in ubuntu latest; do docker tag steamcmd/steamcmd:$IMAGE_TAG steamcmd/steamcmd:${TAG}; done
      - name: Push Image
        run: for TAG in $IMAGE_TAG ubuntu latest; do docker push steamcmd/steamcmd:${TAG}; done

  build-ubuntu-16:
    runs-on: ubuntu-18.04
    env:
      IMAGE_TAG: "ubuntu-16"
    steps:
      - uses: actions/checkout@v2
      - uses: e1himself/goss-installation-action@v1
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -t steamcmd/steamcmd:$IMAGE_TAG .
        working-directory: dockerfiles/${{ env.IMAGE_TAG }}
      - name: Test Image
        run: dgoss run --entrypoint="" steamcmd/steamcmd:$IMAGE_TAG sleep 120
      - name: Push Image
        run: docker push steamcmd/steamcmd:$IMAGE_TAG

  build-alpine-3:
    runs-on: ubuntu-18.04
    needs: build-ubuntu-18
    env:
      IMAGE_TAG: "alpine-3"
    steps:
      - uses: actions/checkout@v2
      - uses: e1himself/goss-installation-action@v1
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -t steamcmd/steamcmd:$IMAGE_TAG .
        working-directory: dockerfiles/${{ env.IMAGE_TAG }}
      - name: Test Image
        run: dgoss run --entrypoint="" steamcmd/steamcmd:$IMAGE_TAG sleep 120
      - name: Tag Image
        run: docker tag steamcmd/steamcmd:$IMAGE_TAG steamcmd/steamcmd:alpine
      - name: Push Image
        run: for TAG in $IMAGE_TAG alpine; do docker push steamcmd/steamcmd:${TAG}; done

  build-centos-8:
    runs-on: ubuntu-18.04
    needs: build-ubuntu-18
    env:
      IMAGE_TAG: "centos-8"
    steps:
      - uses: actions/checkout@v2
      - uses: e1himself/goss-installation-action@v1
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -t steamcmd/steamcmd:$IMAGE_TAG .
        working-directory: dockerfiles/${{ env.IMAGE_TAG }}
      - name: Test Image
        run: dgoss run --entrypoint="" steamcmd/steamcmd:$IMAGE_TAG sleep 120
      - name: Tag Image
        run: docker tag steamcmd/steamcmd:$IMAGE_TAG steamcmd/steamcmd:centos
      - name: Push Image
        run: for TAG in $IMAGE_TAG centos; do docker push steamcmd/steamcmd:${TAG}; done

  build-centos-7:
    runs-on: ubuntu-18.04
    needs: build-ubuntu-18
    env:
      IMAGE_TAG: "centos-7"
    steps:
      - uses: actions/checkout@v2
      - uses: e1himself/goss-installation-action@v1
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -t steamcmd/steamcmd:$IMAGE_TAG .
        working-directory: dockerfiles/${{ env.IMAGE_TAG }}
      - name: Test Image
        run: dgoss run --entrypoint="" steamcmd/steamcmd:$IMAGE_TAG sleep 120
      - name: Push Image
        run: docker push steamcmd/steamcmd:$IMAGE_TAG

  build-centos-6:
    runs-on: ubuntu-18.04
    needs: build-ubuntu-18
    env:
      IMAGE_TAG: "centos-6"
    steps:
      - uses: actions/checkout@v2
      - uses: e1himself/goss-installation-action@v1
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -t steamcmd/steamcmd:$IMAGE_TAG .
        working-directory: dockerfiles/${{ env.IMAGE_TAG }}
      - name: Test Image
        run: dgoss run --entrypoint="" steamcmd/steamcmd:$IMAGE_TAG sleep 120
      - name: Push Image
        run: docker push steamcmd/steamcmd:$IMAGE_TAG

  build-windows-1809:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -t steamcmd/steamcmd:$IMAGE_TAG .
        working-directory: dockerfiles/${{ env.IMAGE_TAG }}
      - name: Test Image
        run: docker run steamcmd/steamcmd:windows-1809 +quit
      - name: Tag Image
        run: docker tag steamcmd/steamcmd:windows-1809 steamcmd/steamcmd:windows
      - name: Push Image
        run: docker push steamcmd/steamcmd:windows-1809
      - name: Push Image
        run: docker push steamcmd/steamcmd:windows

  build-windows-core-2019:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -t steamcmd/steamcmd:$IMAGE_TAG .
        working-directory: dockerfiles/${{ env.IMAGE_TAG }}
      - name: Test Image
        run: docker run steamcmd/steamcmd:windows-core-2019 +quit
      - name: Tag Image
        run: docker tag steamcmd/steamcmd:windows-core-2019 steamcmd/steamcmd:windows-core
      - name: Push Image
        run: docker push steamcmd/steamcmd:windows-core-2019
      - name: Push Image
        run: docker push steamcmd/steamcmd:windows-core

  build-windows-core-1809:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -t steamcmd/steamcmd:$IMAGE_TAG .
        working-directory: dockerfiles/${{ env.IMAGE_TAG }}
      - name: Test Image
        run: docker run steamcmd/steamcmd:windows-core-1809 +quit
      - name: Push Image
        run: docker push steamcmd/steamcmd:windows-core-1809
