name: Build Images
on:
  push:
    branches:
      - master
  schedule:
    - cron: '0 */4 * * *'

jobs:
  build-ubuntu-18:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -f dockerfiles/ubuntu-18 -t steamcmd/steamcmd:ubuntu-18 .
      - name: Tag Image
        run: for TAG in ubuntu latest; do docker tag steamcmd/steamcmd:ubuntu-18 steamcmd/steamcmd:${TAG}; done
      - name: Push Image
        run: for TAG in ubuntu-18 ubuntu latest; do docker push steamcmd/steamcmd:${TAG}; done

  build-ubuntu-16:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -f dockerfiles/ubuntu-16 -t steamcmd/steamcmd:ubuntu-16 .
      - name: Push Image
        run: docker push steamcmd/steamcmd:ubuntu-16

  build-alpine:
    runs-on: ubuntu-18.04
    needs: build-ubuntu-18
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -f dockerfiles/alpine -t steamcmd/steamcmd:alpine .
      - name: Push Image
        run: docker push steamcmd/steamcmd:alpine

  build-busybox:
    runs-on: ubuntu-18.04
    needs: build-ubuntu-18
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -f dockerfiles/busybox -t steamcmd/steamcmd:busybox .
      - name: Tag Image
        run: docker tag steamcmd/steamcmd:busybox steamcmd/steamcmd:lite
      - name: Push Image
        run: for TAG in busybox lite; do docker push steamcmd/steamcmd:${TAG}; done

  build-centos-8:
    runs-on: ubuntu-18.04
    needs: build-ubuntu-18
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -f dockerfiles/centos-8 -t steamcmd/steamcmd:centos-8 .
      - name: Tag Image
        run: docker tag steamcmd/steamcmd:centos-8 steamcmd/steamcmd:centos
      - name: Push Image
        run: for TAG in centos-8 centos; do docker push steamcmd/steamcmd:${TAG}; done

  build-centos-7:
    runs-on: ubuntu-18.04
    needs: build-ubuntu-18
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -f dockerfiles/centos-7 -t steamcmd/steamcmd:centos-7 .
      - name: Push Image
        run: docker push steamcmd/steamcmd:centos-7

  build-centos-6:
    runs-on: ubuntu-18.04
    needs: build-ubuntu-18
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -f dockerfiles/centos-6 -t steamcmd/steamcmd:centos-6 .
      - name: Push Image
        run: docker push steamcmd/steamcmd:centos-6

  build-windows-1809:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v2
      - name: Docker Login
        run: echo ${{ secrets.DOCKER_ACCESS_TOKEN }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - name: Build Image
        run: docker build -f dockerfiles/windows-1809 -t steamcmd/steamcmd:windows-1809 .
      - name: Push Image
        run: docker push steamcmd/steamcmd:windows-1809
